<!DOCTYPE html>
<html>
    <head>
        <title>palindrome</title>
        <style>
            .main{
                background-color: #FFDFB7;
            }
        .ps{
            border-style: groove;
            background-color: aliceblue;
        }
        #code{
            border: 1px black solid;
            margin-left: 50%;
        }
        </style>
    </head>
    <body class="main">
        <div >
          <h2>Problem Statement : </h2>
         <p class="ps">
            write a program to print whether a string is palindrome or not?<br>
            Note:<br>
              A string is said to be a palindrome if it remains same when it is reversed<br>
            input a string then the program should print "YES" if the string is a palindrome<br>
            else it should print "NO"
         </p>
         <h2>Example : </h2>
          <h2>Input : </h2>
          <p class="ps">
            bhanu
         </p>
         <h2>Output : </h2>
         <p class="ps">
            NO
         </p>
         <button id ="code" onclick="location.href='code.html'">code</button>
        </div>
    </body>
</html>